@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;300;600;700&display=swap');
 
 :root{
 --naranja: rgba(212, 120, 35, 0.952);
 --oderclr: rgba(13, 139, 118, 0.932);
 }

body{
margin: 0;

}
html{
box-sizing: border-box;
}
*,*::after,*::before{
box-sizing: inherit;

}
h1,h2,h3,h4,h5,h6{
margin: 0;
text-align: center;

}
button{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}